<html lang="en">
<head>
  <title>AG architecture</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/all.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  @font-face {

    font-family: Cen Got;

    src: local("Cen Got"),

         url("{% static 'fonts/CenturyGothic.ttf' %}");

  }
  </style>


  {% block headin %}
  {% endblock %}


</head>

<body>
<div id="p_prldr"><center><div class="contpre">
  <span class="svg_anm"></span>
  <img src="{% static 'img/gif.gif' %}"alt="AG" id = 'blabla'>
</div></center></div>





  {% block allcontent %}
  {% endblock %}

  <!--Footer-->
  <footer>
    <div class="container">
      <!--Social icons-->
      <div class="icons" >
        <img src="{% static 'img/fb.png' %}" >
        <img src="{% static 'img/in.png' %}" >
        <img src="{% static 'img/bh.png' %}" >
        <img src="{% static 'img/gm.png' %}" >
        <img src="{% static 'img/pr.png' %}" >

      </div>
      <!--Footer`s info<div id="particles-js"></div>-->
      <div class="logofoot">
        <p>AG architecture © 2017</p>
      </div>
    </div>
  </footer>


  <script>

  $(document).ready(function()
  {   if( navigator.userAgent.match(/Android/i)
     || navigator.userAgent.match(/webOS/i)
     || navigator.userAgent.match(/iPhone/i)
     || navigator.userAgent.match(/iPod/i)
     || navigator.userAgent.match(/BlackBerry/i)
     || navigator.userAgent.match(/Windows Phone/i)
     ){
       $('body').addClass('mobile');
      }
    else if (navigator.userAgent.match(/iPad/i)) {
      $('body').addClass('ipad');
    }
     else {
       $('body').addClass('desktop');
      }
  });

  </script>
  <!--Change opacity of mainlogo by moving mouse-->
  <script>
  if(window.screen.width > 480) {
  $(document).ready(function(){
    $('.mainimg').each(function(){
      $(this).animate({opacity:'0.3'},1);
      $(this).mouseover(function(){
        $(this).stop().animate({opacity:'1.0'},600);
      });
      $(this).mouseout(function(){
        $(this).stop().animate({opacity:'0.3'},300);
      }); }); });
  }
  </script>

<script>



  $(document).ready(function(){
    $(".dropdown-top").click(function(){
    $(".dropdown-inside").show().delay(3000).fadeOut();
  });
  });



</script>


  <!--Preloader-->

  <script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(500).fadeOut('slow');
});</script>


</body>
