{% extends "archdesigntempl.html" %}
{% load staticfiles %}

{% block xcontent %}
<!--Main Logo-->
<div class="mainlogo" style="z-index:1;">
  <center>
  <div class="mainimg">
    <a href="/">
  <img src="{% static 'img/logo.png' %}"alt="AG" id = 'blabla'>
    </a>
  </div>
  </center>
</div>


<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >EN</a>
    <ul class="dropdown-inside">
    <li><a href="/ru/architecture/">RU</a></li>
    <li><a href="/ua/architecture/">UA</a></li>
    </ul>
  </li>
</div>


<!--Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="display: block;">
      <ul class="nav navbar-nav navbar-center">
        <li><a style="color:#191919;" href="/en/architecture/">ARCHITECTURE</a></li>
        <li><a href="/en/design/">DESIGN</a></li>
        <li><a href="/en/services/">SERVICES</a></li>
        <li><a href="/en/contact/">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Main Content-->

<div class="arch" >
    {% for AP in Arch_projects %}


      <a class="ar" href="{% url 'archproject' pk=AP.pk %}">
        <div class="archproject" style="background-image:url({{ AP.mainimg.url }});">

            <div class="archprojecttext" >
            <h2>{{AP.name_en}}</h2>
            <h3>{{AP.description_en}}</h3>
          </div>

        </div>
      </a>

    {% endfor %}
</div>





<div style="height:40px"></div>

{% endblock %}
