{% extends "all.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/archdesign.css' %}" type = "text/css"/>
  

  <style>
  BODY {
  }
  </style>

{% endblock %}

{% block allcontent %}


{% block xcontent %}
{% endblock %}

  <script>


  $(document).ready(function()
  {   if( navigator.userAgent.match(/Android/i)
     || navigator.userAgent.match(/webOS/i)
     || navigator.userAgent.match(/iPhone/i)
     || navigator.userAgent.match(/iPod/i)
     || navigator.userAgent.match(/BlackBerry/i)
     || navigator.userAgent.match(/Windows Phone/i)
     ){

      }
    else if (navigator.userAgent.match(/iPad/i)) {

    }
     else {

       $('.archprojecttext').each(function(){
         $(this).animate({opacity:'0.5'},1);
         $(this).mouseover(function(){
           $(this).stop().stop()
           .animate({opacity:'0.9'},200);

         });
         $(this).mouseout(function(){
           $(this).stop()
           .animate({opacity:'0.5'},200);


         }); });

      }
  });
</script>



  <script>
    $(document).ready(function(){
  $( ".arch .ar:nth-child(2n+1)" ).addClass("intro");
  });
  </script>


  {% endblock %}
