{% extends "homecontacttemp.html" %}
{% load staticfiles %}

{% block headin %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type = "text/css"/>
{% endblock %}
{% block menu%}

<!--Main Logo-->
<div class="mainlogo" style="z-index:1;">
  <center>
  <div class="mainimg">
    <a href="/">
  <img src="{% static 'img/logo.png' %}"alt="AG" id = 'blabla'>
    </a>
  </div>
  </center>
</div>

<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >EN</a>
    <ul class="dropdown-inside">
    <li><a href="/ru/contact/">RU</a></li>
    <li><a href="/ua/contact/">UA</a></li>
    </ul>
  </li>
</div>
  <!--Menu-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/en/architecture/">ARCHITECTURE</a></li>
          <li><a href="/en/design/">DESIGN</a></li>
          <li><a href="/en/services/">SERVICES</a></li>
          <li><a href="/en/contact/">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="contactblock">
  <div class="col-sm-4 contactform">
     <center><h3>CONTACT ME</h3></center>
      <form id="form" method="post">
          {% csrf_token %}
          <input type="text" name="name" required id="id_name" placeholder="NAME"/>
          <input type="text" name="subject" required id="id_subject" placeholder="SUBJECT"/>
          <input type="email" name="email" id="id_email" placeholder="E_MAIL"/>
          <textarea type="text" name="message" required id="id_message" placeholder="MESSAGE"></textarea>

          <div class="form-actions">
              <input id="submit" type="submit" value="SEND">
          </div>
      </form>

 </div>

  <div class="col-sm-4 contact">
    <br>
    <div class="contactsoc">
          {% for CL in ContactLinks %}
          <a class="contactlink" href="{{ CL.link }}"><div class="contactico" style="background-image:url({{ CL.img.url }});"></div></a>
          {% endfor %}

    </div>
          <br>
          <br>
          <hr>
          {% for CI in ContactInfo %}
            <p>{{CI.block_en}}</p>
          {% endfor %}

  </div>
  <div class="col-sm-4 contact">
         <img src="{% static 'img/face.png' %}" style='' alt="Adrey">
  </div>

</div>




{% endblock %}
