{% extends "homecontacttemp.html" %}
{% load staticfiles %}

{% block headin %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type = "text/css"/>
{% endblock %}
{% block menu%}
<!--Main Logo-->
<div class="mainlogo" style="z-index:1;">
  <center>
  <div class="mainimg">
    <a href="/ru/home/">
  <img src="{% static 'img/logo.png' %}"alt="AG" id = 'blabla'>
    </a>
  </div>
  </center>
</div>


<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >RU</a>
    <ul class="dropdown-inside">
    <li><a href="/en/contact/">EN</a></li>
    <li><a href="/ua/contact/">UA</a></li>
    </ul>
  </li>
</div>
  <!--Menu-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/ru/architecture/">АРХИТЕКТУРА</a></li>
          <li><a href="/ru/design/">ДИЗАЙН</a></li>
          <li><a href="/ru/services/">УСЛУГИ</a></li>
          <li><a style="color:#191919;" href="/ru/contact/">КОНТАКТЫ</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="contactblock">
    <div class="col-sm-4 contactform">
       <center><h3>СВЯЗАТЬСЯ</h3></center>
        <form id="form" method="post">
            {% csrf_token %}
            <input type="text" name="name" required id="id_name" placeholder="ИМЯ"/>
            <input type="text" name="subject" required id="id_subject" placeholder="ТЕМА"/>
            <input type="email" name="email" id="id_email" placeholder="E_MAIL"/>
            <textarea type="text" name="message" required id="id_message" placeholder="СООБЩЕНИЕ"></textarea>

            <div class="form-actions">
                <input id="submit" type="submit" value="ОТПРАВИТЬ">
            </div>
        </form>

   </div>

    <div class="col-sm-4 contact">
      <br>
      <div class="contactsoc">
            {% for CL in ContactLinks %}
            <a class="contactlink" href="{{ CL.link }}"><div class="contactico" style="background-image:url({{ CL.img.url }});"></div></a>
            {% endfor %}

      </div>

            <br>
            <br>
            <hr>
            <center><p class="dobigger"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +380734725404</p></center>
            <center><p class="dobigger"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> office@agarch.com.ua</p></center>
                      <hr>
            {% for CI in ContactInfo %}
              <p>{{CI.block_en}}</p>
            {% endfor %}

    </div>
    <div class="col-sm-4 contact">
           <img src="{% static 'img/face.png' %}" style='' alt="Adrey">
    </div>

  </div>





{% endblock %}
