{% extends "projecttemplate.html" %}
{% load staticfiles %}

{% block photos %}
<!--Main Logo-->
<div class="mainlogo" style="z-index:1;">
  <center>
  <div class="mainimg">
    <a href="/ru/home/">
  <img src="{% static 'img/logo.png' %}"alt="AG" id = 'blabla'>
    </a>
  </div>
  </center>
</div>


<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >RU</a>
    <ul class="dropdown-inside">
    <li><a href="/en/designproject/">EN</a></li>
    <li><a href="/ua/designproject/">UA</a></li>
    </ul>
  </li>
</div>


<!--Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="display: block;">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="/ru/architecture/">АРХИТЕКТУРА</a></li>
        <li><a href="/ru/design/">ДИЗАЙН</a></li>
        <li><a href="/ru/services/">УСЛУГИ</a></li>
        <li><a href="/ru/contact/">КОНТАКТЫ</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Main Content-->
<div class="projectname" >
    {% for AP in Design_projects %}
      <h2>{{AP.name_en}}</h2>
    {% endfor %}
</div>


<div class="project" >
      <!-- Slider main container -->
    <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->


        {% for AP in Design_photo %}
        <div class="swiper-slide" style="background-image:url({{AP.archimg.url}}) ; ">




        </div>
        {% endfor %}

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-black"></div>
    <!-- Navigation -->
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-button-prev swiper-button-black"></div>


    </div>
</div>



<div class="projectempty" >

</div>

<div class="projecttext" >
  {% for AP in Design_projects %}
    <h3>{{AP.description_ru}}</h3>
  {% endfor %}
</div>



<div style="height:40px"></div>

{% endblock %}
