{% extends "archdesigntempl.html" %}
{% load staticfiles %}

{% block xcontent %}

<!--Main Logo-->
<div class="mainlogo" style="z-index:1;">
  <center>
  <div class="mainimg">
    <a href="/ua/home/">
  <img src="{% static 'img/logo.png' %}"alt="AG" id = 'blabla'>
    </a>
  </div>
  </center>
</div>


<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >UA</a>
    <ul class="dropdown-inside">
    <li><a href="/en/design/">EN</a></li>
    <li><a href="/ru/design/">RU</a></li>
    </ul>
  </li>
</div>


<!--Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="display: block;">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="/ua/architecture/">АРХІТЕКТУРА</a></li>
        <li><a href="/ua/design/">ДИЗАЙН</a></li>
        <li><a href="/ua/services/">ПОСЛУГИ</a></li>
        <li><a href="/ua/contact/">КОНТАКТИ</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Main Content-->

<div class="arch" >
    {% for AP in Design_projects %}
      {% if AP.side == 'L' %}
      <a href="{% url 'uadesignproject' pk=AP.pk %}">
        <div class="archproject" style="background-image:url({{ AP.mainimg.url }});float:right;">

            <div class="archprojecttext" >
            <h2>{{AP.name_en}}</h2>
            <h3>{{AP.description_ua}}</h3>
          </div>

        </div>
      </a>
      {% endif %}
      {% if AP.side == 'R' %}
      <a href="{% url 'uadesignproject' pk=AP.pk %}">
        <div class="archproject"  style="background-image:url({{ AP.mainimg.url }});">

            <div class="archprojecttext" style="left:0;">
            <h2 class="rotate" style="float:left;">{{AP.name_en}}</h2>
            <h3 style="float:right">{{AP.description_ua}}</h3>
          </div>

        </div>
      </a>
      {% endif %}
    {% endfor %}
</div>





<div style="height:40px"></div>

{% endblock %}
