BODY {
  background-color: white;

font-size: 22px;
position: relative;
}
.mainlogo{
  background-color: #191919;
}

.projectname {
  background-color: white;
  display:inline-block;
  top: 0px;
  width: 100%;

  height: auto;

}

.projectname h2 {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
float: right;
width: 90%;
font-size: 55px;


}

.project {
  background-color: white;
  display:inline-block;
  margin-top: 0px;
  width: 100%;
  margin-left: 0%;
  height: 70vh;
}

.projectempty {
  background-color: white;
  display:inline-block;
  margin-top: 0px;
  width: 15%;

  height: auto;
}

.projecttext {
  background-color: white;
  display:inline-block;
  margin-top: 0px;
  width: 45%;
  margin-left: 25%;
  margin-right: 30%;

  height: auto;
}

@media screen and (min-width:1025px){

  .swiper-container {


  }
  .swiper-slide {

    background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 60%;
      height: 100%;

  }

  .swiper-slide-prev {

    top: 25%;
    bottom: 20%;
      max-height: 50%;
      opacity: 0.5;
      margin: 0 auto;

      background-position: 100% 0%;
  }

  .swiper-slide-next {
    margin: 0 auto;
    top: 25%;
    bottom: 20%;
      max-height: 50%;
      opacity: 0.5;
      background-position: 0% 100%;
  }
}



@media screen and (max-width:1025px){
  .project {

    height: 70vh;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
}
  .swiper-slide {
    background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

  }
  .projectname h2 {

  font-size: 50px;


  }
  .projecttext {
    width: 70%;
    margin-left: 15%;
    margin-right: 14%;
  }

  .projecttext h3 {
    font-size: 15px;
  }

}
